*{
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container{
    margin: 100pt;
}
ul{
    list-style-type: none;
}
li{
    padding: 5pt;
}
button{
    background-color: #d4a76f;
    border: none;
    border-radius: 12px;
    margin: 10pt;
    padding: 8px 16px;
    transition-duration: 0.2s;
}
button:hover{
    background-color: #708a6d;
    color: white;
}
.footer{
    background-color: #083e40d3;
    clip-path: polygon(40% 0, 46% 25%, 66% 0, 78% 19%, 100% 10%, 100% 100%, 0 100%, 0 0, 13% 37%, 21% 0);
    color: antiquewhite;
    font-size: 10pt;
    padding-bottom: 20pt;
    padding-top: 50pt;
    margin-top: 60pt;
    position: relative;
    text-decoration: none;
}
.icon{
    position: relative;
    right: 300px;
    top: 77px;
}
.icon2{
    position: absolute;
    left: 870px;
    top: 775px;
}
.footer ul li a{
    text-decoration: none;
}
a:visited{
    color: antiquewhite;
    text-decoration: none;
}