*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    text-align: center;
}

.header{
    font-size: 30px;
    margin-top: 5px;
    padding: 10px 16px;
}
.header p {
    font-size: 15px;
}
.container div{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width:480px) {
    .tablet{
        display: none;
    }
    .laptop{
        display: none;
    }
    .desktop{
        display: none;
    }
}
@media (min-width:768px) {
    .smartphone{
        display: none;
    }
    .tablet{
        display: block;
    }
}
@media (min-width:1024px) {
    .tablet{
        display: none;
    }
    .laptop{
        display: block;
    }
}
@media (min-width:1200px) {
    .laptop{
        display: none;
    }
    .desktop{
        display: block;
    }
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.responsive {
    width: 100%;
    max-width: 1020px;
    height: auto;
}
.container button {
    background-color: #d4a76f;
    border: none;
    border-radius: 12px;
    color: antiquewhite;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.4s;
}
.container button:hover {
    background-color: #708a6d;
    color: white;
    display: inline-block;
    transform: scale(1.1);
}
a:visited {
    text-decoration: none;
    color: antiquewhite;
}
.footer{
    background-color: #083e40d3;
    clip-path: polygon(40% 0, 46% 25%, 66% 0, 78% 19%, 100% 10%, 100% 100%, 0 100%, 0 0, 13% 37%, 21% 0);
    color: antiquewhite;
    font-size: 10pt;
    padding-bottom: 20pt;
    padding-top: 50pt;
    margin-top: 60pt;
    position: relative;
    text-decoration: none;
}
.icon{
    position: relative;
    right: 300px;
    top: 77px;
}
.icon2{
    position: absolute;
    left: 870px;
    top: 910px;
}
.icon2 button{
    background-color: white;
    border: none;
    border-radius: 12px;
}
.footer ul li{
    display: inline-block;
    margin: 0.5rem;
}
.footer ul li a{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.footer ul li a:hover{
    display: inline-block;
    transform: scale(1.1);
}
a:visited{
    text-decoration: none;
}
